.passwords .container{
    display: flex;
    justify-content: center;
}

.cntBtns{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding: 2px 0px;
    display: none;
}

.cntBtns .btn{
    background-color: #ddd;
    padding: 0px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.cntBtns .btn:hover{
    filter: brightness(0.7);
}

.inputCouple:hover .cntBtns{
    display: block;
}